.heroItemContainer {
  background-color: var(--menuBackGround);
  min-width: 300px;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--secondaryColor);

  h1 {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    margin: 10px;
  }

  h2 {
    color: var(--secondaryColor);
    font-family: var(--secondaryFont);
    font-size: 1rem;
    margin: 10px;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 30px 10px;
}
