.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  outline: none;

  input {
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  span {
    font-size: 0.8rem;
    color: var(--errorColor);
  }
}
