.selectContainer {
  position: relative;
  margin-bottom: 12px;
}

.selectLabel {
  display: block;
  color: black;
  text-align: left;
}

.selectButton {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid "black";
  text-align: left;
  background-color: #ffffff;
  color: black;
  outline: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.errorMessageContainer {
  margin-top: 5px;
  span {
    font-size: 0.8rem;
    color: var(--errorColor);
  }
}

.dropdown {
  position: absolute;
  margin-top: 0.25rem;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.dropdownContent {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.optionButton {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
}

.optionButtonDisabled {
  color: var(--disabledColor);
  background-color: #f7fafc;
  cursor: not-allowed;
}

.optionButtonEnabled {
  color: #1a202c;
}

.optionButtonEnabled:hover {
  background-color: #f7fafc;
}

.placeholderColor {
  color: var(--placeHolderColor);
}
