* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backGround);
}

:root {
  --primaryColor: #ffffff;
  --secondaryColor: #e10024;
  --menuBackGround: #18212a;
  --backGround: #010103;
  --primaryFont: "Anton", serif;
  --secondaryFont: "ABeeZee", serif;
  --disabledColor: #e2e8f0;
}
